<!doctype html>
<html lang="en">
	<head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" href="{{ url_for('static', filename='favicon.png')  }}" type="image/x-icon">
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png')  }}" type="image/x-icon">
		{% block include_style %}
        <!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename="css/bootstrap.min.css") }}">
		<link rel="stylesheet" href="//at.alicdn.com/t/font_809310_tedii4t25lc.css">
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">
		{% endblock %}
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<title>
			{% block title %}
			n0blog - n0b0dy
			{% endblock %}
		</title>
	
	{% endblock %}
	</head>
	<body>
   
		{% block content %}
		<div class="container w-75 mw-10 mx-auto px2 my-5">
			<header>
			{% block header %}
			{% endblock %}
			</header>

			<div class="">
				{% block page_content %}{% endblock %}
			</div>

			{% block footer %}
			<footer class="footer w-75">
				<div class="container">
						<div class="footer-left">
							Copyright &copy; 2019 Powered by n0blog
						</div>
						<div class="footer-right">
							<div class="nav-list">
								<ul class="list-inline">
									<li class="list-inline-item pr-3">
										<a class="" href="{{ url_for('main.index') }}">首页</a>
									</li>
									<li class="list-inline-item pr-3">
										<a class="" href="{{ url_for('main.archive') }}">归档</a>
									</li>
									<li class="list-inline-item pr-3">
										<a class="" href="{{ url_for('main.resume') }}">关于</a>
									</li>
									<li class="list-inline-item pr-3">
										<a class="" href="{{ url_for('main.links') }}">友链</a>
									</li>
								</ul>
							</div>
						</div>
				</div>
			</footer>
			{% endblock %}
		</div>
		{% endblock %}

		{% block scripts %}
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
		<script>
			var csrf_token = "{{ csrf_token() }}";
			$.ajaxSetup({
				beforeSend: function(xhr, settings) {
					if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
						xhr.setRequestHeader("X-CSRFToken", csrf_token);
					}
				}
			});
		</script>
		{% endblock %}

	</body>
</html>
