{% extends "base.html" %}

{% block header %}
<div class="container">
	<h1> n0b0dy  </h1>
	<div class="nav-list mt-3">
		<ul class="list-inline">
			<li class="list-inline-item pr-3"><a class="py-1" href="{{ url_for('main.index') }}">首页</a></li>
			<li class="list-inline-item pr-3"><a class="py-1" href="{{ url_for('main.archive') }}">归档</a></li>
			<li class="list-inline-item pr-3"><a class="py-1" href="{{ url_for('main.resume') }}">关于</a></li>
			<li class="list-inline-item pr-3"><a class="py-1" href="{{ url_for('main.links') }}">友链</a></li>
		</ul>
	</div>
</div>
{% endblock %}

{% block page_content %}
<!-- search bar -->
<h2 class="my-4">Search</h1>
<div class="container mt-4 mb-5">
	<form action="{{ url_for('main.search') }}" method="GET">
		<div class="search-group">
			<div class="row">
				<div class="col-8 col-md-6">
					<input type="text" name="s" class="form-control rounded mr-3 h-100" placeholder="Search..." />
				</div>
				<div class="col-4 col-md-2">
					<span class="search-group-btn">
						<button class="btn btn-lg btn-search" type="submit">
							<i class="iconfont icon-sousuo"></i>
						</button>
					</span>
				</div>
			</div>
		</div>
	</form>
</div>

<!-- article list -->
<h2 class="mt-5 mb-4">Archives</h1>
<div class="container my-4 archive">
	<ul class="list-unstyled archive-list">
	{% for post in posts %}
		<li class="my-2 archive-item">
			<span class="meta">
			{{ post.time }}
			</span>
			<a class="mx-4" href="{{ post.url }}">{{ post.desc }}</a>
		</li>
	{% endfor %}
	</ul>
</div>

{% endblock %}
