html {
	position: relative;
    min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  color: #eaeaea;
  margin-bottom: 60px;
  background: #222b2f url("../images/bkg.png") 0 0;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

header {
	border-bottom: 1px dashed #b5e853;
}

footer {
	position: absolute;
	bottom: 0;
	height: 60px;
	width: 100%;
	text-align: center;
}

@media (min-width: 55rem) {

	footer {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	footer .footer-left {
		float: left;
	}
	footer .footer-right {
		float: right;
	}
}

/* header */

header h1:before {
    content: "./ ";
}

header h1 {
	color: #caa851;
	font-weight: bold;
}

.nav-list ul {
	list-style: none;
}

.nav-list ul li {
	border-right: 1px dashed #caa851;
	display: inline-block;
}

.nav-list ul li:last-child {
	border-right: 0;
}

.nav-list ul li a {
	color: #caa851;
}

.navbar ul li a:hover {
	color: #caa851;
	text-decoration: none;
	border-bottom: 1px dashed #caa851;
	padding: 0 0 0.25rem 0;

}

/* body */

body h1 {
	color: #caa851;
}

.archive .archive-list .archive-item a {
	color: #eaeaea;
}

.archive .archive-list .archive-item a:hover {
	color: #caa851;
	text-decoration: none;
	border-bottom: 1px dashed #caa851;
	padding 0 0 0.25rem 0;
}

.archive .archive-list .archive-item .meta {
	color: #666;
}

.btn-search {
	background: #b5e853;
}
