html {
	position: relative;
    min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  color: #eaeaea;
  margin-bottom: 60px;
  background: #222b2f url("../images/bkg.png") 0 0;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

header {
	border-bottom: 1px dashed #b5e853;
}

footer {
	position: absolute;
	bottom: 0;
	height: 60px;
	width: 100%;
	text-align: center;
}

@media (min-width: 55rem) {
	footer {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	footer .footer-left {
		float: left;
	}
	footer .footer-right {
		float: right;
	}
}

/* header */

header h1:before {
    content: "./ ";
}

header h1 {
	color: #caa851;
	font-weight: bold;
}

.nav-list ul {
	list-style: none;
}

.nav-list ul li {
	border-right: 1px dashed #caa851;
	display: inline-block;
}

.nav-list ul li:last-child {
	border-right: 0;
}

.nav-list ul li a {
	color: #caa851;
}

.navbar ul li a:hover {
	color: #caa851;
	text-decoration: none;
	border-bottom: 1px dashed #caa851;
	padding: 0 0 0.25rem 0;
}

.nav-tabs {
	border-bottom: 1px solid #cae851;
}

.nav-tabs .nav-link {
	color: #caa851;
	font-weight: bold;
}

.nav-tabs .nav-link:hover {
	border-color: #cae851;
}

.nav-tabs .nav-link.active {
	color: #1a1a1a;
	background-color: #cae851;
	border-color: #cae851;
}

/* body */

body h1 {
	color: #caa851;
}

.archive .archive-list .archive-item a {
	color: #eaeaea;
	font-size: 18px;
}

.archive .archive-list .archive-item a:hover {
	color: #caa851;
	text-decoration: none;
	border-bottom: 1px dashed #caa851;
	padding 0 0 0.25rem 0;
}

.archive .archive-list .archive-item .meta {
	color: #666;
	font-size: 16px;
}

.pagination {
	text-align: center;
}

.pagination .archive-pagination {
	line-height: 1.725;
	max-width: 768px;
	display: block;
	list-style-type: disc;
}

.pagination .archive-pagination .archive-page-item {
	display: inline-block;
	margin: 0 .2em
}

.pagination .archive-pagination .archive-page-item a {
	color: #eaeaea;
	border: 1px solid #eaeaea;
	border-radius: 0.25em;
	display: inline-block;
	user-select: none;
	padding: 0 .5em;
	font-size: 14px;
}

.links .links-list .links-item a {
	color: #eaeaea;
}

.links .links-list .links-item a {
	color: #eaeaea;
	border-bottom: 1px dashed #eaeaea;
	padding 0 0 0.25rem 0;
}

.links .links-list .links-item a:hover {
	color: #caa851;
	text-decoration: none;
	border-bottom: 1px dashed #caa851;
	padding 0 0 0.25rem 0;
}

.links .links-list .links-item .meta {
	color: #666;
}

.btn-search {
	background: #b5e853;
}

.admin-table .btn-green {
	background: #b5e853;
	color: #eaeaea;
	font-weight: bold;
}

.admin-table .btn-red {
	background: #cc3300;
	color: #000000;
	font-weight: bold;

}

.admin-table .btn-grey {
	background: #6c757d;
	color: #eaeaea;
	font-weight: bold;
}
