{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename="css/github-markdown.css") }}">
<link href="https://cdn.rawgit.com/google/code-prettify/master/loader/skins/desert.css" rel="stylesheet">
{% endblock %}

{% block header%}
{% include "main/_header.html"%}
{% endblock%}

{% block page_content %}
<div class="container my-5 pb-5 markdown-body">
	{{ html|safe }}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/prettify.js"></script>
<script>
$('document').ready(function () {
    PR.prettyPrint();
});
</script>
{% endblock %}

